/* PAGE LAYOUT */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: rgb(246, 248,249);
}
/* /PAGE LAYOUT */
/* _________________________________________________________________________________________________________________________________ */
/* HEADER LAYOUT */
.header_container{
    font-size: 2em;
    padding: 1em;
    background-color: white;
}
.header_container img{
    height:3em;
    vertical-align:middle;
}
.header_container h1{
    display: inline-block;
    vertical-align:middle;
}
/* /HEADER LAYOUT */
/* _________________________________________________________________________________________________________________________________ */
/* MAIN LAYOUT */
.container{
    margin: 5em 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    border-radius: 15px;
    padding: 1em 2em 2em 6em;
}
button{
    font-size: 1.5em;
    color: lightgrey;
    border: grey solid 1px;
    border-radius: 5px;
    margin: 30px 3px 20px;
    padding: 10px 20px;
    background-color: inherit;
}
button.selected{
    background-color:rgb(71,173,241) ;
    color: white;
    border-color: rgb(71,173,241);
}
/* /MAIN LAYOUT */
/* _________________________________________________________________________________________________________________________________ */
/* COMMON LAYOUT */
.white_background{
    background-color: white;
}
/* /COMMON LAYOUT */









/* CLASSI DEBUGGER */
.pest{
    border: solid 2px;
}
.red{
    border-color: red;
}
.green{
    border-color: green;
}