/* PAGE LAYOUT */
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: rgb(246, 248,249);
}
/* /PAGE LAYOUT */
/* _________________________________________________________________________________________________________________________________ */
/* HEADER LAYOUT */
.header_container{
    font-size: 2em;
    padding: 1em;
    background-color: white;
}
.header_container img{
    height:2.5em;
    vertical-align:middle;
}
.header_container h1{
    display: inline-block;
    vertical-align:middle;
}
/* /HEADER LAYOUT */
/* _________________________________________________________________________________________________________________________________ */
/* MAIN LAYOUT */
.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    padding: 1em 2em 2em 6em;
}
.top_half{
    margin-top: 5em;
    border-radius: 15px 15px 0 0;
}
.bottom_half{
    margin-top: 2px;
    margin-bottom: 1em;
    border-radius: 0 0 15px 15px;
}
.list_container{
    padding: 40px 10px;
    font-size: 2em;
    color: black;
}
.primary_list{
    font-weight: bold;
    list-style-type: none;
}
.secondary_list{
    font-weight:lighter;
    list-style-type: none;
}
.category{
    display: inline-block;
    font-size: 0.5em;
    padding: 0.5em;
    vertical-align: middle;
    border-radius: 0.5em;
    color: white;
}
.background_lightgreen{
    background-color: rgb(110, 192, 169);
}
.background_lightorange{
    background-color: rgb(242, 158, 51);
}
.background_lightpink{
    background-color: rgb(216, 99, 161);
}
.background_greengrass{
    background-color: rgb(176, 201, 38);
}
.background_lightpurple{
    background-color: rgb(156, 114, 228);
}
.background_lightblue{
    background-color: rgb(71,173,241);
}
/* CHECKS PROPRIETIES */
.check{
    font-size: 0.6em;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}
.not_ok{
    color: red;
    border-color: red;
}
.ok{
    color: green;
    border-color: green;
}
/* /CHECK PROPRIETIES */
li{
    padding: 15px;
    vertical-align: middle;
}
.triangle{
    vertical-align: middle;
}
    /* _________________________________________________________________________________________________________________________________ */
    /* BOTTONI */
    button{
        font-size: 1.5em;
        color: lightgrey;
        border: grey solid 1px;
        border-radius: 5px;
        margin: 30px 3px 20px;
        padding: 10px 20px;
        background-color: inherit;
    }
    button.selected{
        background-color:rgb(71,173,241) ;
        color: white;
        border-color: rgb(71,173,241);
    }
    /* /BOTTONI */
    /* _________________________________________________________________________________________________________________________________ */
/* /MAIN LAYOUT */
/* _________________________________________________________________________________________________________________________________ */
/* COMMON LAYOUT */
.white_background{
    background-color: white;
}
/* /COMMON LAYOUT */